In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sdss_tools import sdss_jpg, sdss_fits, sdss_spectra, sdss_template

from astropy import units as u
from astropy.coordinates import SkyCoord, Angle
from astroquery.sdss import SDSS

%matplotlib inline

C:\Anaconda2\lib\site-packages\astroquery\sdss\__init__.py:28: UserWarning: Experimental: SDSS has not yet been refactored to have its API match the rest of astroquery (but it's nearly there).
  warnings.warn("Experimental: SDSS has not yet been refactored to have its API "

##Introduccion

En este tallere aprenderemos a descargar catalogos, imagenes y espectros del Sloan Digital Sky Survey (SDSS). El SDSS es un survey astronómico que cubre gran parte del cielo y que ha producido una gran cantidad de datos de las estrellas y galaxias que habitan en el Universo.

Más info en el link http://www.sdss.org/surveys/
Video del SDSS en https://www.youtube.com/watch?v=UD6cOMpJlZU

El SDSS survey ha permitido que cualquier persona interesada en la Astronomia pueda visitar el sitio web y explorar las imagenes y catalogos del survey. Un ejemplo muy exitoso del uso de los datos del SDSS es el sitio web llamado Galaxy Zoo (https://www.galaxyzoo.org/?lang=es), el cual invitó a la gente de todo el mundo a revisar las galaxias detectadas por el SDSS y clasificarlas morfologicamente

##Parte 1

Partiremos descargando un catalogo de galaxias elipticas de Galaxy Zoo y analizando los datos. Ejecute el siguiente codigo para descargar los datos

In [2]:
# Ejecute
cat_url='https://raw.githubusercontent.com/rpmunoz/PentaUC/master/Astronomia%20era%20informacion/data/SDSS_galaxyzoo_elipticas.csv'
cat_galaxyzoo=pd.read_csv(cat_url,header=0,sep=',')
cat_galaxyzoo.head()

                   ID          ra        dec  votos
0  587736584965390473  217.002375  37.400917     36
1  588015508213727352   41.307375  -0.746111     32
2  587734949668257807  158.403875  11.702222     30
3  587738948284514416  156.077625  37.087222     17
4  587729653425897913  254.959417  33.830361     24

**Ejercicio**

El catalogo de galaxy zoo contiene el ID y las coordenadas de las galaxias clasificadas como elipticas. Además, contiene el número de personas que votaron y clasificaron estas galaxias como elipticas. Haga un histograma que muestre la distribucion del numero de votos y use al menos 10 bines.

¿En torno a que valor se concentra el numero de votaciones?

In [ ]:
# Su codigo y respuesta aqui

Como pueden apreciar, la tabla de galaxy zoo solo contiene coordenadas y votos de las galaxias. ¿Qué sucede con la informacion fotométrica y espectroscópica de estas galaxias? Esta información no se encuentra en el catalogo y es por ello que debemos usar query_region.

Para hacer consultas, lo primero es definir en que coordenadas del cielo estamos buscando un objeto. Para ello se usa la funcion SkyCoord.

In [3]:
# Ejecute aqui
ra=180.
dec=0.
coo=SkyCoord(ra, dec, unit=(u.deg,u.deg))
print coo

<SkyCoord (ICRS): (ra, dec) in deg
    (180.0, 0.0)>

Para hacer una consulta si existe o no un objeto en esa posicion se usa la funcion query_region de astroquery
Ejecute el siguiente codigo

In [4]:
# Ejecute aqui
result = SDSS.query_region(coo, spectro=True, photoobj_fields=['ra','dec','u','g','r','i','z'], specobj_fields=['z'], radius=2*u.arcsec)
print result

None

**Pregunta**
¿Cual fue el resultado? ¿Encontramos alguna galaxia en esa posicion?

**Ejercicio**

Complete el siguiente codigo para consultar los datos del primer objeto de nuestra tabla de galaxyzoo. ¿Aparece algun valor en la tabla al hacer print result?

In [5]:
# Complete donde aparecen ...
coo=SkyCoord(cat_galaxyzoo['ra'][0], cat_galaxyzoo['dec'][0], unit=(u.deg,u.deg))
result = SDSS.query_region(coo, spectro=True, photoobj_fields=['ra','dec','u','g','r','i','z'], specobj_fields=['z'], radius=2*u.arcsec)
print result

      ra          dec         u        g        r       i       z         z1
------------- ------------ -------- -------- -------- ------ -------- ----------
217.002389618 37.400913452 17.58736 15.60366 14.69556 14.289 13.96379 0.08000372

** Ejercicio **

Ahora haremos la consulta de todos los objetos que estan en nuestro catalogo cat_galaxyzoo. Complete el siguiente codigo. ¿Aparecen los resultados para todas las galaxias?

In [6]:
# Complete donde aparecen ...
coo=SkyCoord(cat_galaxyzoo['ra'], cat_galaxyzoo['dec'], unit=(u.deg,u.deg))
print coo

for i in range(len(coo)):
    print 'Processing galaxy ', i+1
    result = SDSS.query_region(coo[i], spectro=True, photoobj_fields=['ra','dec','u','g','r','i','z'], specobj_fields=['z'], radius=2*u.arcsec)
    if i==0:
        sdss_data=result
    else:
        sdss_data.add_row(np.array(result)[0])

print sdss_data

<SkyCoord (ICRS): (ra, dec) in deg
    [(217.002375, 37.40091667), (41.307375, -0.74611111),
     (158.403875, 11.70222222), (156.077625, 37.08722222),
     (254.95941667, 33.83036111), (168.35254167, 36.17266667),
     (217.250625, 25.36588889), (28.04566667, 13.71805556),
     (189.603125, 1.27877778), (41.36254167, -0.75075),
     (238.97320833, 31.49277778), (224.55125, 18.56447222),
     (189.60320833, 30.43116667), (181.02516667, 20.32377778),
     (227.45879167, 36.69955556), (178.12766667, 57.64822222),
     (223.39983333, 23.37061111), (225.60245833, 34.21141667),
     (41.30529167, -8.34838889), (317.413125, 0.24569444),
     (139.4645, 11.15855556), (41.19045833, -9.02619444),
     (147.81320833, 34.62730556), (160.311875, 23.79697222),
     (171.34304167, 4.26816667), (195.78816667, 54.61655556),
     (226.00325, 22.76941667), (139.48433333, 53.81605556),
     (176.42566667, -2.03111111), (240.141375, 26.07719444),
     (131.02691667, 1.89641667), (136.22316667, 62.70652778),
     (199.172875, 48.27319444), (317.534, -0.773),
     (199.177125, 34.92991667), (176.41925, 4.71269444),
     (121.38054167, 25.80344444), (14.47195833, 0.43041667),
     (242.83616667, 22.24616667), (224.567, 22.37116667),
     (233.30441667, 33.71225), (152.25670833, 0.05030556),
     (127.288375, 39.05116667), (233.30454167, 13.98861111),
     (210.09904167, 8.48305556), (195.69170833, 9.69180556),
     (205.86608333, 19.30408333), (127.27858333, 56.23219444),
     (181.01254167, 52.18447222), (181.01175, 11.47563889),
     (189.64741667, 1.314), (182.775, 64.31913889),
     (185.97158333, 45.15244444), (199.24095833, 26.84833333),
     (229.98220833, 2.04444444), (121.40704167, 24.86841667),
     (185.98175, 21.10705556), (178.133, 4.37794444),
     (160.30483333, 56.80872222), (221.73245833, 26.48119444),
     (251.36291667, 42.07936111), (116.68270833, 35.89872222),
     (14.4855, -9.52525), (172.926, 3.60919444),
     (195.70295833, 47.91966667), (166.659625, 37.07197222),
     (139.439375, 19.90661111), (176.39258333, 15.53241667),
     (159.00229167, 43.93311111), (218.88616667, 63.52994444),
     (238.313875, 25.37386111), (235.092375, 17.90930556),
     (229.09895833, -1.86313889), (217.234125, 46.41583333),
     (150.44391667, 61.83194444), (189.56529167, 41.65838889),
     (189.56375, 21.14888889), (195.87333333, 16.4245),
     (231.723125, 25.82430556), (251.46475, 23.34913889),
     (195.85675, 7.88430556), (230.56841667, 8.04844444),
     (160.32075, 33.89925), (217.3025, 7.44502778),
     (158.01145833, 5.52511111), (227.094375, 1.31430556),
     (176.44058333, 47.17469444), (153.40083333, 19.68169444),
     (166.63258333, 38.50302778), (203.63495833, 54.64058333),
     (214.3675, 27.99580556), (227.77345833, 4.50197222),
     (166.63575, 23.32430556), (218.841375, 7.96366667),
     (251.47833333, 27.30191667), (199.15358333, 7.01519444),
     (163.219125, 43.42838889), (226.71316667, 40.74316667),
     (178.05279167, -0.23538889), (239.27904167, 28.62630556)]>
Processing galaxy  1
Processing galaxy  2
Processing galaxy  3
Processing galaxy  4
Processing galaxy  5
Processing galaxy  6
Processing galaxy  7
Processing galaxy  8
Processing galaxy  9
Processing galaxy  10
Processing galaxy  11
Processing galaxy  12
Processing galaxy  13
Processing galaxy  14
Processing galaxy  15
Processing galaxy  16
Processing galaxy  17
Processing galaxy  18
Processing galaxy  19
Processing galaxy  20
Processing galaxy  21
Processing galaxy  22
Processing galaxy  23
Processing galaxy  24
Processing galaxy  25
Processing galaxy  26
Processing galaxy  27
Processing galaxy  28
Processing galaxy  29
Processing galaxy  30
Processing galaxy  31
Processing galaxy  32
Processing galaxy  33
Processing galaxy  34
Processing galaxy  35
Processing galaxy  36
Processing galaxy  37
Processing galaxy  38
Processing galaxy  39
Processing galaxy  40
Processing galaxy  41
Processing galaxy  42
Processing galaxy  43
Processing galaxy  44
Processing galaxy  45
Processing galaxy  46
Processing galaxy  47
Processing galaxy  48
Processing galaxy  49
Processing galaxy  50
Processing galaxy  51
Processing galaxy  52
Processing galaxy  53
Processing galaxy  54
Processing galaxy  55
Processing galaxy  56
Processing galaxy  57
Processing galaxy  58
Processing galaxy  59
Processing galaxy  60
Processing galaxy  61
Processing galaxy  62
Processing galaxy  63
Processing galaxy  64
Processing galaxy  65
Processing galaxy  66
Processing galaxy  67
Processing galaxy  68
Processing galaxy  69
Processing galaxy  70
Processing galaxy  71
Processing galaxy  72
Processing galaxy  73
Processing galaxy  74
Processing galaxy  75
Processing galaxy  76
Processing galaxy  77
Processing galaxy  78
Processing galaxy  79
Processing galaxy  80
Processing galaxy  81
Processing galaxy  82
Processing galaxy  83
Processing galaxy  84
Processing galaxy  85
Processing galaxy  86
Processing galaxy  87
Processing galaxy  88
Processing galaxy  89
Processing galaxy  90
Processing galaxy  91
Processing galaxy  92
Processing galaxy  93
Processing galaxy  94
Processing galaxy  95
Processing galaxy  96
Processing galaxy  97
Processing galaxy  98
Processing galaxy  99
Processing galaxy  100
      ra            dec          u        g     ...    i        z         z1
------------- --------------- -------- -------- ... -------- -------- ----------
217.002389618    37.400913452 17.58736 15.60366 ...   14.289 13.96379 0.08000372
41.3073848368 -0.746130995322 17.76154 15.75966 ... 14.40375 14.02473 0.05394223
158.403888231   11.7022022564 18.09399 16.24945 ... 15.04739 14.78136 0.03284365
156.077624736   37.0872125101 19.08807 17.07669 ... 15.64609  15.2982  0.1070929
254.959432393   33.8303559642 20.29933 18.34799 ... 16.69359 16.35683  0.1631178
168.352529786   36.1726569074 19.70474 17.82497 ...  16.2493  15.9357  0.1577232
217.250638721   25.3658651135 18.97654 17.11012 ... 15.65098 15.27199 0.09219774
28.0456293641   13.7180428164 19.60862 17.64393 ... 16.13182 15.76712  0.1073048
189.603128074   1.27877369583 19.68569 17.56323 ...  15.8988 15.57225  0.1659202
41.3625475376 -0.750787281619 20.60588 18.25218 ... 16.50179 16.09216  0.1814917
          ...             ...      ...      ... ...      ...      ...        ...
203.634978515   54.6406184525 20.04132 18.33555 ... 17.13781 16.83779  0.1083057
 214.36747895   27.9957944063 20.27001 18.10041 ... 16.45972 16.12726    0.15674
227.773465149   4.50197808618  18.0484 16.22216 ... 14.80911 14.42328 0.03365683
 166.63572495   23.3242943592 18.88983  16.8836 ... 15.39383 15.05438  0.1233712
 218.84136526   7.96367282446 18.52584 16.64399 ... 15.22702 14.86568  0.0876502
251.478366988    27.301921224 19.91005  17.5925 ... 15.98983 15.59239  0.1016912
199.153580181   7.01519817141 17.65555 15.77941 ... 14.52043 14.23816 0.04745416
163.219113075   43.4283947417 17.15207 15.84461 ... 14.86355 14.63073 0.02423712
226.713153842   40.7431404964 21.34068 19.13304 ... 17.13267 16.76666  0.2513104
178.052797065 -0.235388702781 21.11509 19.27505 ... 17.32479 16.96891  0.2261851
239.279048699   28.6263013785  19.3788 17.37979 ... 16.02183 15.69692 0.07638177
Length = 100 rows

Nuestro nuevo catalogo ya no se muestra de forma tan bonita y aparece como una matriz con muchos numeros. Para arreglarla, usamos la funcion DataFrame de pandas. Ejcute el sigiuiente codigo

In [7]:
# Ejecute aqui
cat_sdss_elipticas=pd.DataFrame(np.array(sdss_data))
cat_sdss_elipticas.head()

,ra,dec,u,g,r,i,z,z1
0,217.002390,37.400913,17.58736,15.60366,14.69556,14.28900,13.96379,0.080004
1,41.307385,-0.746131,17.76154,15.75966,14.81796,14.40375,14.02473,0.053942
2,158.403888,11.702202,18.09399,16.24945,15.43164,15.04739,14.78136,0.032844
3,156.077625,37.087213,19.08807,17.07669,16.07527,15.64609,15.29820,0.107093
4,254.959432,33.830356,20.29933,18.34799,17.17107,16.69359,16.35683,0.163118

##Parte 2

Ahor comenzaremos a descargar imagenes jpeg de nuestras galaxias de galaxy zoo. Para ello nos conectaremos al servidor de SDSS y usaremos la funcion sdss_jpg.

El siguiente codigo descargamos la imagen de las priemras dos galaxias

In [ ]:
coo=SkyCoord(cat_galaxyzoo['ra'], cat_galaxyzoo['dec'], unit=(u.deg,u.deg))
print coo

In [ ]:
# Ejecute
print coo[0:2]
sdss_jpg(coo[0:2])

In [ ]:
plt.show()

**Ejercicio**

Descague las images jpeg para las primeras 10 imagenes de la lista. ¿Que tipo morfologico son las galaxias?

In [ ]:
# Complete su codigo aqui
sdss_jpg(...)

Los astronomos en la vida real no toman imagenes a colores y mas bien toman imagenes en blanco y negro. El tipo de archivo que usamos se llama fits.

Usaremos la funcion sdss_fits para descargar las imagenes de las priemras dos galaxias

In [ ]:
#Ejecute aqui
sdss_fits(coo[0:2])

**Ejercicio**

Descague las images fits para las primeras 10 imagenes de la lista. ¿Son iguales o distitnas las imagenes fits y jpeg?

In [ ]:
# Complete el codigo aqui
sdss_fits(...)

##Parte 3

Ahora comenzaremos a descargar espectros de nuestras galaxias de galaxyzoo. El espectro es la firma que poseen las galaxias.

El siguiente codigo descargamos el espectro de una tipica galaxia eliptica

In [ ]:
sdss_template(tipo='eliptica')
plt.show()

Ahora descargaremos el espectro de las primeras dos galaxias

In [ ]:
#Ejecute aqui
sdss_spectra(coo[0:2], redshift=[0.,0.])

**Ejercicio**

Comience a cambiar los valores de la variable redshift y trate de recuperar el grafico de sdss_template.

In [ ]:
#Complete aqui donde aparecen los ...
sdss_spectra(coo[0:2], redshift=[...,...])

**Ejercicio**

Ahora descagaremos los espectros para las priemras 10 galaxias. Complete el codigo y determine el redshift de cada una

In [ ]:
#Complete aqui donde aparecen los ...
sdss_spectra(..., redshift=[...])

##Parte 4


### Repita el mismo procedimiento anterior, pero esta vez usando las galaxias espirales

In [8]:
cat_url='https://raw.githubusercontent.com/rpmunoz/PentaUC/master/Astronomia%20era%20informacion/data/SDSS_galaxyzoo_espirales.csv'
cat_galaxyzoo=pd.read_csv(cat_url,header=0,sep=',')
cat_galaxyzoo.head()

                   ID          ra        dec  votos
0  587724233176449214   14.559458  15.200250     27
1  588017991768277198  215.539000   9.045556     25
2  588297863121207359  182.168500  46.474806     40
3  587731185652072643  325.864792  -0.480194     27
4  587729386603282615  136.707833  48.772472     43

In [9]:
coo=SkyCoord(cat_galaxyzoo['ra'], cat_galaxyzoo['dec'], unit=(u.deg,u.deg))
for i in range(len(coo)):
    print 'Processing galaxy ', i
    result = SDSS.query_region(coo[i], spectro=True, photoobj_fields=['ra','dec','u','g','r','i','z'], radius=2*u.arcsec)
    if i==0:
        sdss_data=result
    else:
        sdss_data.add_row(np.array(result)[0])

cat_sdss_espirales=pd.DataFrame(np.array(sdss_data))
cat_sdss_espirales

Processing galaxy  0
Processing galaxy  1
Processing galaxy  2
Processing galaxy  3
Processing galaxy  4
Processing galaxy  5
Processing galaxy  6
Processing galaxy  7
Processing galaxy  8
Processing galaxy  9
Processing galaxy  10
Processing galaxy  11
Processing galaxy  12
Processing galaxy  13
Processing galaxy  14
Processing galaxy  15
Processing galaxy  16
Processing galaxy  17
Processing galaxy  18
Processing galaxy  19
Processing galaxy  20
Processing galaxy  21
Processing galaxy  22
Processing galaxy  23
Processing galaxy  24
Processing galaxy  25
Processing galaxy  26
Processing galaxy  27
Processing galaxy  28
Processing galaxy  29
Processing galaxy  30
Processing galaxy  31
Processing galaxy  32
Processing galaxy  33
Processing galaxy  34
Processing galaxy  35
Processing galaxy  36
Processing galaxy  37
Processing galaxy  38
Processing galaxy  39
Processing galaxy  40
Processing galaxy  41
Processing galaxy  42
Processing galaxy  43
Processing galaxy  44
Processing galaxy  45
Processing galaxy  46
Processing galaxy  47

IndexError: too many indices for array

In [10]:
print sdss_data

      ra            dec          u        g        r        i        z
------------- --------------- -------- -------- -------- -------- --------
14.5594861412   15.2002534257 19.02797 17.08535  16.0903  15.5504 15.12846
215.539011888   9.04556393197 17.65031 16.11648 15.31245 14.85882 14.55835
182.168492332   46.4748078549 18.46054 16.63925 15.74723 15.33657 15.00189
325.864800148 -0.480187831615 19.38846 17.52939 16.56024  16.1482 15.79481
 136.70784584   48.7724546934 16.92475 15.15623 14.36435 13.96674 13.66021
173.339083278   33.4334822263 19.05486 17.74569 17.23697 16.86767 16.64917
221.236163602   23.1491994844 19.24344 17.89257 16.84118   16.349 16.01662
215.712842676    29.873190643  17.8331 16.64831 16.28137 16.07171  15.9017
162.517167264   15.4503482706 17.86082 16.42469 15.71606 15.33343 15.04047
178.483562451   32.6438852494 18.91358 17.41645 16.73685 16.40557 16.12891
          ...             ...      ...      ...      ...      ...      ...
217.995728087   47.2307788914 19.23999 17.75446 16.95256 16.51303  16.1966
125.720173295   38.3883616994 19.43325 17.67718 16.70689 16.17093 15.75148
168.516467737   67.3695192338 17.28004 15.78601 15.12008 14.75918 14.46713
240.151942008   25.2745121563 18.11147 16.49184 15.73835 15.30446 15.02189
223.223923742   53.5747120206 18.19476 16.98895 16.40776  16.0891 15.86782
210.122298666    63.645061871  17.0897 16.09068 15.75376 15.54459 15.42145
147.829989925   40.7012647282 19.45498 17.61583 16.61666 16.18123 15.85054
 168.15628083   15.2172291596 16.58466 15.52189 15.02881 14.73787 14.58289
178.459653615   19.7504779141 17.11847 15.25915 14.42333 14.04132  13.7121
253.070087431   27.3658163552 17.58918 16.19175 15.48361 15.07937  14.7698
 148.73294358   52.6889764841 18.84399    17.07 16.20271 15.79928 15.50631
Length = 47 rows

## Apendices

Descargar el catalogo completo de Galaxy zoo

In [ ]:
import requests, zipfile, StringIO

In [ ]:
cat_url='http://galaxy-zoo-1.s3.amazonaws.com/GalaxyZoo1_DR_table2.csv.zip'

r = requests.get(cat_url)
z = zipfile.ZipFile(StringIO.StringIO(r.content))

cat_file='GalaxyZoo1_DR_table2.csv'
cat_data=pd.read_csv(z.open(cat_file))
cat_data.head()

In [ ]:
cat_data=cat_data.sort_values('P_EL_DEBIASED',ascending=0)
cat_elliptical=cat_data[cat_data['ELLIPTICAL']==1][0:100]
cat_elliptical['ra']=Angle(cat_elliptical['RA'], unit=u.hourangle).degree
cat_elliptical['dec']=Angle(cat_elliptical['DEC'], unit=u.degree).degree
cat_elliptical=cat_elliptical.rename(columns = {'OBJID':'ID','NVOTE':'votos'})
cat_elliptical=cat_elliptical[['ID','ra','dec','votos']].reset_index(drop=True)

cat_elliptical.to_csv('../data/SDSS_galaxyzoo_elipticas.csv',index=False)

In [ ]:
cat_data=cat_data.sort_values('P_CS_DEBIASED',ascending=0)
cat_spiral=cat_data[cat_data['SPIRAL']==1][0:100]
cat_spiral['ra']=Angle(cat_spiral['RA'], unit=u.hourangle).degree
cat_spiral['dec']=Angle(cat_spiral['DEC'], unit=u.degree).degree
cat_spiral=cat_spiral.rename(columns = {'OBJID':'ID','NVOTE':'votos'})
cat_spiral=cat_spiral[['ID','ra','dec','votos']].reset_index(drop=True)

cat_spiral.to_csv('../data/SDSS_galaxyzoo_espirales.csv',index=False)