# Proyecto muestra aprendizaje 3: Distribución y caracterización de asteroides
---

![alt text](http://www.splung.com/cosmology/images/asteroidmovie.gif)

## Objetivos
En general cuando nos preguntan sobre el Sistema Solar pensamos exclusivamente en el Sol y los planetas que le orbitan. En realidad existen muchísimos objetos pequeños, los cuales son más difíciles de encontrar a pesar de su gran cantidad.

En este proyecto van a descubrir un poco más de la estructura del cinturón de asteroides y sus cercanías. Podrán categorizar los asteroides y notar bastantes detalles que no estaban explícitos dentro de la noción que tenemos de cómo es esta zona.

Vamos a trabajar con catálogos de objetos en el cinturón de asteroides. Este catálogo contiene las siguientes columnas:

### Catálogo de asteroides (data)
Contiene datos de más de 8000 objetos cercanos al cinturón de asteroides. Los parámetros $e$ y $sin\_i$ están disponibles solo para 4200 objetos, tener ojo con eso.
- **Nombre**: Nombre o denominación del asteroide.
- **a**: Semi-eje mayor en UA, es decir, la mayor distancia medida desde el centro de la órbita, en Unidades Astronómicas. Esta distancia es aproximadamente igual a la distancia al Sol si es que la órbita es (casi) circular.
- **mag_i, mag_z**: Magnitudes (brillo) en distintos filtros. Con estos vamos a construir colores y con ellos se pueden clasificar asteroides según su composición.
- **color_a**: Color "a". La letra "a" es una denominación arbitraria para definir un color compuesto por una combinación de los filtros g, r, i. En la sección de clasificación se ven más detalles sobre cómo se hizo.
- **X, Y, Z**: Posición del asteroide en coordenadas cartesianas con origen en el Sol. Las cantidades se encuentran en Unidades Astronómicas (UA).
- **e**: Excentricidad. Es un parámetro que define la forma de la órbita de un cuerpo. Para efectos prácticos, nos indica qué tan alejado de una circunferencia está la órbita. En una circunferencia perfecta $e=0$, en una elipse $0<e<1$. Una parábola tiene $e=1$ y una hipérbola $e>1$.
- **sin_i**: Nos indica qué tan inclinada está la órbita. Se entrega el valor del seno de la inclinación.

### Catálogo de magnitud y albedo (data2)
Contiene datos de magnitud y albedo para poco más de 2000 objetos, con el cual pueden estimar las dimensiones y volumen de los asteroides.
- **Nombre**: Nombre del asteroide. Notar que en este catálogo, el nombre viene antecedido por un número. Este número proviene del catálogo de asteroides del Minor Planet Center, donde a estos se les designa simplemente un número entero. Como curiosidad, el catálogo también es denominado como catálogo de "minor planets", es decir, "planetas menores" (¿Por qué será?).
- **H**: Magnitud absoluta del asteroide. Esta definición es un tanto diferente a la habitual, ya que los asteroides no emiten luz. En este caso corresponde al brillo en el filtro V que tendría un asteroide completamente iluminado a 1 UA del Sol y a 1 UA al mismo tiempo (¿Es esto geométrica o físicamente posible?).
- **A**: Albedo. Corresponde a la fracción (o porcentaje) de radiación que se refleja con respecto a la que incide. Por ejemplo, la nieve refleja el 86% de la luz incidente, las nubes un 50% y los océanos un 10%. La Tierra tiene un albedo de 39% (0.38), Marte 15% (0.15) y la Luna 7% (0.07).

### Catálogo de planetas (solarsys)
Con el fin de que tengan más datos para realizar comparaciones y lo que se les ocurra, también tienen un catálogo con los datos de otros cuerpos del sistema solar.
- **Nombre**: Nombre del planeta o planeta enano.
- **m**: Masa en kilógramos.
- **d**: Diámetro en kilómetros.
- **rho**: Densidad media en kilómetros por metro cúbico.
- **a**: Semi eje mayor en UA.
- **e**: Excentricidad de la órbita.
- **i**: Inclinación de la órbita en grados.
- **alb**: Albedo del objeto.


---

## Clasificación
Si bien existen muchas clases y subclases, nos enfocaremos en estas tres, pues utilizando los colores de los asteroides nos es posible realizar una primera (y simple) aproximación al tipo de asteroide del que se trata.

- **Clase C**: Objetos con carbono como principal componente. Hygiea y Mathilde son dos ejemplos. Su densidad aproximada es $\rho = 1380 \text{ kg/m}^3$
- **Clase S**: Formados principalmente por silicatos (roca). A esta clase pertenecen Eros y Gaspra. Su densidad es $\rho = 2710 \text{ kg/m}^3$
- **Clase V**: Un tipo más raro, relativamente similar al tipo S, pero con mayor presencia de piroxeno. Se le llaman tipo "V" por el ejemplo clásico de esta clase, el asteroide Vesta. Su densidad aproximada es $\rho = 5320 \text{ kg/m}^3$

Para clasificar haremos uso de un diagrama color-color, donde en el eje $x$ tenemos al color **col_a**, definido por la siguiente combinación de filtros g, r, i:
$$ a = 0.89(g−r) + 0.45(r−i) − 0.57$$

Mientras que en el eje $y$ tendremos el color **i-z**, el cual debemos confeccionar.

Una vez observada la distribución de los puntos, podemos proceder a la clasificación utilizando las condiciones
- **Clase C**: $ a < 0$
- **Clase S**: $ i-z > -0.15\quad \wedge\quad  a > 0 $
- **Clase V**: $ i-z < -0.15\quad \wedge\quad  a > 0 $

---
# Ideas para desarrollar el taller

## 1. Examinar la distribución espacial
¿Cómo se encuentran distribuídos los asteroides según sus posiciones? ¿Las clases encontradas anteriormente están todas mezcladas o están agrupadas? ¿Dónde se encuentran en comparación a los planetas?

## 2. Distribuciones de los parámetros
¿Qué pasa ahora con la distribución de cada uno de los parámetros? ¿Existen diferentes concentraciones o solo un grupo de asteroides? ¿Cómo son las órbitas según la excentricidad? ¿Están todas en un mismo plano o se orientan en todas direcciones? ¿Cuáles son los promedios y desviaciones estándar de lo que se encuentra?

## 3. Resonancia
Comparar los resultados obtenidos anteriormente con el semi eje mayor que tendrían diferentes cuerpos con período en resonancia con Júpiter. Recordemos que por la Tercera Ley de Kepler,

$$ a = P^{2/3} $$

En este caso el período de Júpiter es aproximadamente $11.865$ años, por lo que deben explorar períodos que estén en diferentes razones con el período de Júpiter, por ejemplo 3:1, 2:1, 5:3, 7:2, etc.

## 4. Estimación de masas
Para hacernos una idea de la masa de cada asteroide se suelen utilizar las cantidades de magnitud absoluta (H) y albedo (A). Con estas cantidades podemos calcular el diámetro (en kilómetros) del asteroide por

$$ d = \frac{1329}{\sqrt{A}} 10^{-0.2H}$$

Si aproximamos el volumen de los asteroides como el de una esfera, podemos utilizar los valores de densidad conocidos y tener una aproximación de la masa de estos con

$$ m = V \times \rho $$

¿Cuáles son los más masivos? ¿Y los más grandes? ¿Cómo se comparan los más masivos respecto al resto? ¿Está toda la masa distribuída por igual? ¿Cómo se compara el más masivo con la masa de la Tierra, de la Luna ($7.35\times10^{22} \text{ kg}$) y otros cuerpos?

## 5. Otras preguntas o relaciones
¿Existe otro tipo de correlaciones? ¿De distribuciones? ¿Correlacionan las clases encontradas con algún parámetro? ¿Se les ocurrió alguna para investigar? Cualquier interrogante que tengan durante el taller es altamente recomendable de desarrollar, pues puede existir mucha información "oculta" entre todos los datos que tienen.

---

Su grupo deberá entregar semana a semana un archivo donde muestre su progreso. Esperamos que estos archivos no muestren **sólo código**, sino que también expliquen con celdas de texto qué es lo que hace el código y la razón física detrás de las relaciones, distribuciones, y números que muestre. Recuerde que este trabajo puede ser expuesto en la muestra de aprendizaje, donde tendrá que mostrarlo a personas que puede que no tengan conocimiento de astronomía o programación.

Para entregar el archivo, utilizaremos el sistema de Dropbox que hemos usado en los otros talleres evaluados. Para eso, es fundamental que ingrese en la celda de abajo los nombres de los integrantes del grupo, y al final, luego de guardar, ejecute las dos últimas celdas.

In [1]:
integrante1 = 'sebastian castro'
integrante2 = 'fernando buron8=D'
integrante3 = 'joaquin montes'

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import rc
%matplotlib inline

rc('font', size=14)
rc('axes', labelsize=22)

Estos son los catálogos que contienen todos los datos a usar

In [3]:
url = 'https://github.com/rpmunoz/PentaUC/raw/master/Astronomia%20era%20informacion/data/P3asteroides.csv'
data = pd.read_csv(url, sep=',', comment='#', header=0)
data.head()

,Nombre,a,color_a,mag_i,mag_z,x,y,z,e,sin_i
0,1989_SS,3.025812,0.05,17.10,17.05,1.214,-2.976,0.570,0.0856,0.2121
1,Helenos,5.297075,-0.01,17.79,17.67,1.329,5.143,-1.275,NaN,NaN
2,2003_YD179,5.300624,0.04,20.07,19.97,1.203,5.328,0.549,NaN,NaN
3,2007_EW43,5.162462,-0.05,20.21,20.41,1.908,5.004,-1.534,NaN,NaN
4,1989_UE5,5.170706,0.07,20.03,19.96,1.915,4.811,-1.037,NaN,NaN

In [4]:
url = 'https://github.com/rpmunoz/PentaUC/raw/master/Astronomia%20era%20informacion/data/P3mag_hal.csv'
data2 = pd.read_csv(url, sep=',', comment='#', header=0)
data2.head()

           Nombre     H       A
0         1 Ceres  3.34  0.0900
1        2 Pallas  4.13  0.1587
2          3 Juno  5.33  0.2383
3         4 Vesta  3.20  0.4228
4       5 Astraea  6.85  0.2268

In [5]:
url = 'https://github.com/rpmunoz/PentaUC/raw/master/Astronomia%20era%20informacion/data/P3solarsys.csv'
solarsys = pd.read_csv(url, sep=',', comment='#', header=0)
solarsys.head()

     Nombre          masa       d   rho      a      e    i   alb
0  Mercurio  3.300000e+23    4879  5427  0.387  0.205  7.0  0.10
1     Venus  4.860000e+24   12104  5243  0.723  0.007  3.4  0.65
2    Tierra  5.970000e+24   12756  5514  1.000  0.017  0.0  0.39
3     Marte  6.420000e+23    6792  3933  1.520  0.094  1.9  0.15
4   Jupiter  1.898000e+27  142984  1326  5.200  0.049  1.3  0.52

### Parte 1

### Parte 2

### Parte 3

### Parte 4

In [38]:
d=1329/np.sqrt(data2["A"]) * 10**(-0.2*data2["H"])
r=d/2
pi=np.pi
v=(a)**3*(np.pi*4/3)
print v

0       4.510345e+08
1       6.467079e+07
2       6.697111e+06
3       5.374909e+07
4       8.833015e+05
5       3.323644e+06
6       4.176335e+06
7       1.312917e+06
8       5.173096e+06
9       3.534230e+07
10      1.886166e+06
11      7.506829e+05
12      4.686975e+06
13      3.217199e+06
14      8.711813e+06
15      8.495230e+06
16      3.821003e+05
17      1.454047e+06
18      9.104812e+06
19      1.612451e+06
20      4.596168e+05
21      3.101701e+06
22      6.506534e+05
23      4.003698e+06
24      2.218991e+05
25      5.119155e+05
26      1.189326e+06
27      9.251137e+05
28      5.002685e+06
29      4.972300e+05
            ...
1996    1.301095e+03
1997    3.245637e+03
1998    1.042281e+04
1999    2.246463e+03
2000    8.175759e+02
2001    7.818232e+02
2002    4.219521e+03
2003    1.390094e+03
2004    1.445333e+04
2005    2.456653e+03
2006    6.043129e+03
2007    3.575925e+02
2008    1.591959e+03
2009    2.223260e+03
2010    3.696081e+02
2011    3.678482e+02
2012    7.156147e+03
2013    1.231023e+04
2014    2.881020e+02
2015    6.172100e+03
2016    9.278393e+02
2017    1.312821e+03
2018    5.259681e+03
2019    3.052869e+03
2020    5.963468e+03
2021    6.398330e+02
2022    4.652771e+02
2023    7.420982e+02
2024    9.009305e+01
2025    9.667277e+02
dtype: float64

### Parte 5

### Extras 1

### Extras 2

# Una vez terminada la sesion del taller, debera ejecutar las siguientes dos celdas para subir su trabajo al servidor donde quedara almacenada

In [41]:
%%javascript
var kernel = IPython.notebook.kernel;
var thename = window.document.getElementById("notebook_name").innerHTML;
var command = "notebook_file = " + "'"+thename+"'";
kernel.execute(command);

In [ ]:
from IPython.display import display,Javascript,HTML
import dropbox
import socket
import string

# Get the hostname
hostname=string.split(socket.gethostname(),'.')[0]

# Save the notebook
display(Javascript('IPython.notebook.save_checkpoint();'))

try:
    integrante_exist= (integrante1 != '' and integrante2!= '')
except NameError:
    display(HTML("<big><b><br>Los nombres de los integrantes no estan definidos. Revise la primera celda y escriba los nombres.</b></big>"))
else:
    if integrante_exist:
        output_file='/'+notebook_file+'_'+hostname+'_'+integrante1+'_'+integrante2+'_'+integrante3+'.ipynb'
        
        display(HTML("<big><b><br>Nombres de los integrantes:</b></big>"))
        display(HTML("<big>{}<br>{}</big>".format(integrante1,integrante2,integrante3)))
        display(HTML("<big><b><br>Nombre del archivo:</b></big>"))
        display(HTML("<big>{}</big>".format(output_file)))

        client=dropbox.client.DropboxClient('q96bL4l9oyAAAAAAAAAACEK7gCFwoO-PtZu5jJ6gynNwriiBjzTLsN0eV51YQhNe')

        f = open(notebook_file+'.ipynb', 'rb')
        response = client.put_file(output_file,f)
        f.close()
        display(HTML("<big><b><br>Registro del servidor de Dropbox:</b></big>"))
        print response
    else:
        display(HTML("<big><b><br>Los nombres de los integrantes no estan definidos. Revise la primera celda y escriba los nombres.</b></big>"))